/*

  Licao 4.1: Introducao ao CSS

  - Seletor de elemento (h1)

  - Seletor de classe (.cartao)

  - Seletor de id (#critico)

 

  Unidades CSS mais comuns:

  - px: tamanho fixo em pixels

  - %: percentagem do elemento pai

  - em: relativo ao tamanho da fonte do elemento

  - rem: relativo ao tamanho da fonte da raiz (html)

  - vw/vh: percentagem do tamanho da janela (viewport)

  - vmin/vmax: menor/maior lado do viewport

  - ch: largura aproximada do caractere "0"

  - fr: fracao de espaco livre em CSS Grid

*/
/* h1 é um seletor */
/* tudo isto é uma regra*/
html {
    font-size: 20px;
}

h1 {
    color: blue;
    font-size: 64px;
}
/* color:blue é uma declaração */
img{
    width: 200px;
    height: auto;
}

input{
    border: 1px solid blue;
}

input[type="text"]{
    border: 2px dashed red;
    border-color: blue;
    border-style: solid;
    border-width:3px;
}

.zeca{
    font-size: 16px;
}

#p1{
    font-size: 2em;
}

#p2 {
    font-size: 1em;
}

#p3 {
    font-size: 0.5em;
}